.chart-container {
    display: flex;
    justify-content: center;

    .chart-wrapper {
        width: 800px;
        height: 400px;
    }
}

// Mobile
@media screen and (max-width: 600px) {
    .chart-container {
        
        .chart-wrapper {
            width: 400px;
            height: 300px;
        }
    }
}