<app-header [title]="title" [items]="items" />
<app-chart-wrapper>
    <ng-template #chartTemplate>
        <ngx-charts-pie-chart 
            [scheme]="colorScheme"
            [results]="olympics$ | async"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [trimLabels]="trimLabels"
            [doughnut]="isDoughnut"
            [tooltipText]="tooltipText"
            (select)="onSelect($event)"
            >
            <ng-template #tooltipTemplate let-model="model">
                <span class="tooltip-label">{{ model.label }}</span>
                <div class="tooltip-val">
                    <ng-icon name="remixMedalLine" size="1.8rem"></ng-icon> 
                    <span class="medal-count">{{ model.value }}</span>
                </div>
            </ng-template>            
        </ngx-charts-pie-chart>
    </ng-template>
</app-chart-wrapper>

